html{
    margin: 0;
}

body{
    margin: 0;
    background-image: url("../img/1.jpg");
    background-size: 100%;
}

#content{
    width: 67%;
    border-left: 5px solid black;
    border-right: 5px solid black;
    padding: 36px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    top: -2px;
}

.h2{
    color: #4169E1;
}

#header{
    height: 50%;
    background-color: #4169E1;
    width: 100%;
}

#header p{
    text-align: center;
    font-family: "Arial Black";
    font-size: 25pt;
    margin: 0;
}

#content img{
    width: 66%;
    display: block;
    margin: 5px auto;
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 8pt;
    padding: 3px;
}
